name: Docker Image CI

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Print Environment
        run: env

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v1
      #   with:
      #     username: hollingsworthsteven
      #     password: ${{ secrets.DOCKER_SECRET}}
      #
      # - name: Build Version
      #   run: docker build -t hollingsworthsteven/aws-sso-url-generator:${GITHUB_REF_NAME} .
      #
      # - name: Build Latest
      #   run: >
      #     docker tag
      #     hollingsworthsteven/aws-sso-url-generator:${GITHUB_REF_NAME}
      #     hollingsworthsteven/aws-sso-url-generator:latest
      #
      # - name: Push Image Version
      #   run: docker push hollingsworthsteven/aws-sso-url-generator:${GITHUB_REF_NAME}
      #
      # - name: Push Image Latest
      #   run: docker push hollingsworthsteven/aws-sso-url-generator:latest
